{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('category_show', {'id': category.id }) }}">{{ category.name }}<br></a>
    ------------<br>

    {% for article in articles %}
        {{ article.title }}<br>
    {% endfor %}


    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>

{% endblock %}