{# templates/blog/mon-super-article.html.twig #}
{% extends 'base.html.twig' %}

    {% block body %}
        <h1>{{article.title}}</h1>
        <a href="{{ path('article_show', {'id': article.id }) }}">{{article.title}}</a>

    {% endblock %}